.header {
  background-color: $highlight;
}

.header-sm {
  padding-bottom: 40px;

  @include max(425) {
    padding-bottom: 25px;
  }
}

.header-top {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 40px;

  @include max(425) {
    padding: 17px;
  }
}

.header-top__link {
  font-size: 24px;
  font-weight: 500;
  z-index: 15;
  text-decoration: none;
  color: $dark;
  @include max(425) {
    display: none;
  }
}

.header-top__search {
  position: relative;
  z-index: 15;
  display: flex;
  overflow: hidden;
  align-items: center;
  min-width: 25px;
  height: 25px;
  margin-left: 10px;
  &:hover {
    .header-top__search-input {
      width: 175px;
      padding: 2px 10px;
      opacity: 1;
    }
  }
}

.header-top__search-input {
  width: 0;
  margin-right: 35px;
  padding: 2px 0;
  transition: .5s;
  opacity: 0;
  border: 1px solid $dark;
  &:focus {
    width: 175px;
    padding: 2px 10px;
    opacity: 1;
  }
}

.header-top__search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0;
}

.header-top__search-svg {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  svg {
    fill: $dark;
    width: 25px;
    height: 25px;
  }
}

.header-top__burger {
  z-index: 15;
  margin-left: 15px;
  cursor: pointer;
  svg {
    fill: $dark;
    width: 30px;
    height: 30px;
  }
}

.logo {
  display: block;
  max-width: 270px;
  margin: 30px auto;

  @include max(425) {
    max-width: 144px;
    margin: -15px auto 10px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.logo-lg {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 10px;

  @include max(425) {
    margin-bottom: 10px;
  }

  img {
    display: block;

    @include max(425) {
      max-width: 120px;
    }
  }
}

.header__title {
  font-size: 56px;
  font-weight: 300;
  margin: 0 auto 95px;
  text-align: center;
  color: #fff;

  @include max(425) {
    font-size: 29px;
    max-width: 270px;
    margin: 0 auto 15px;
  }
}
