//begin footer
footer.footer
  span.footer-copyright &#169; Apovena 2019
  nav.footer-menu
    ul.footer-menu__list
      li.footer-menu__item
        a(href="#").footer-menu__link Impressum
      li.footer-menu__item
        a(href="#").footer-menu__link Datenschutzerklärung
      li.footer-menu__item
        a(href="#").footer-menu__link AGB
      li.footer-menu__item
        a(href="#").footer-menu__link Kontakt
//end footer