//begin header
header.header.header-sm
  //begin header-top
  .header-top
    a(href="05.html#05-form").header-top__link Kontakt
    form.header-top__search
      input(type='search' placeholder='search').header-top__search-input
      input(type='submit' value='search').header-top__search-btn
      .header-top__search-svg
        +svg('magnific')
    .header-top__burger
      +svg('burger')

    include menu
  //end header-top

  .container
    a(href="#").logo
      img(src="assets/img/logo-sm.png" alt="logo")
//end header