//begin header
header.header.header-sm
  //begin header-top
  .header-top
    a(href="page-05.html#page-05__bottom").header-top__link Kontakt
    form.header-top__search
      input(type='search' placeholder='search').header-top__search-input
      input(type='submit' value='search').header-top__search-btn
      .header-top__search-svg
        +svg('magnific')
    .header-top__burger#header-top__burger
      .header-top__burger-icon
        +svg('burger')
      .header-top__burger-icon-active
        +svg('close')

    include menu
  //end header-top

  .container
    a(href="#").logo
      img(src="assets/img/logo-sm.png" alt="logo")
//end header