//begin index-fly
.index-fly
  .container
    span.index-fly__text Apovena ist das neue Digital-Konzept für Apotheker und bietet Website, Newsletter und Social Media inklusive Suchmaschinen-Optimierung und Traffic-Steuerung. Unser Web-Hub ist der schnellste Draht zum Kunden, informiert und berät ihn rund um die Uhr. Apovena schafft Vertrauen, weckt Kaufimpulse und sorgt so für mehr Umsatz.
    .index-fly__items
      //begin index-fly__item
      .index-fly__item.index-fly__item--01
        .index-fly__icon.index-fly__icon--pillen
          .index-fly__icon-svg.index-fly__icon-svg--cup
            +svg('cup')
        .index-fly__title Medizinische Inhalte, Top-Angebote und Tipps
        a(href="#").index-fly__btn mehr erfahren
      //end index-fly__item

      //begin index-fly__item
      .index-fly__item.index-fly__item--02
        .index-fly__icon
          .index-fly__icon-svg.index-fly__icon-svg--basket
            +svg('medical-basket')
        .index-fly__title Vier gute Gründe für Apovena
        a(href="#").index-fly__btn mehr erfahren
      //end index-fly__item

      //begin index-fly__item
      .index-fly__item.index-fly__item--03
        .index-fly__icon
          .index-fly__icon-svg.index-fly__icon-svg--percent
            +svg('percent')
        .index-fly__title Drei Medien – ein monatlicher Preis
        a(href="#").index-fly__btn mehr erfahren
      //end index-fly__item
//end index-fly