//begin menu
nav.menu#menu
  ul.menu__list
    li.menu__item
      a(href="#").menu__link Das Medienkonzept für Ihre Aotheke
    li.menu__item
      a(href="#").menu__link Ihr individueller Online-Auftritt
    li.menu__item
      a(href="#").menu__link Medizinische Inhalte,  Topangebote und Tipps
    li.menu__item
      a(href="#").menu__link Vier gute Gründe für Apovena
    li.menu__item
      a(href="#").menu__link Drei Medien, ein monatlicher Preis

//end menu