extends ../_template

block variables
  - var title       = 'Apovena'
  - var description = 'Apovena'
  - var ogtitle     = 'Apovena'

block content
  .main-wrap#main-wrap
    include ../sections/header-sm

    //begin content
    section.main.example
      //begin example-top
      .example-top
        .container
          h2.example-top__title Ihr indiviueller Online-Auftritt
          span.example-top__text Senden Sie auf allen Kanälen! Die Beiträge von Apovena sind akutell, fachlich fundiert und persönlich. Ihre Website informiert Ihre Kunden über gesundheitliche Themen und Ihre Aktions-Angebote. Mit einem persönlichen Newsletter vertiefen Sie die Bindung der Kudnen an Ihre Apotheke nachhaltig. Wir sorgen dafür, dass auch Ihre Social-Media-Kanäle automatisch und kontinuierlich mit Inhalten gespeist werden.
      //end example-top

      //begin example-site
      .example-site
        .container
          //begin example-site__section 01
          .example-site__section
            img(src="assets/img/example-01.jpg" alt="picture")
            .example-site__text
              span Welche Farbe soll Ihre Website haben?
          //end example-site__section 01

          //begin example-site__section 02
          .example-site__section
            img(src="assets/img/example-02.jpg" alt="picture")
            .example-site__text
              span Hier steht das Logo Ihrer Apotheke.
          //end example-site__section 02

          //begin example-site__section 03
          .example-site__section
            img(src="assets/img/example-03.jpg" alt="picture")
            .example-site__text
              span
                | Hier können Sie auch auf Ihre eigenen Aktionen
                br
                | hinweisen oder ein Bild Ihrer Apotheke zeigen.
          //end example-site__section 03

          //begin example-site__section 04
          .example-site__section
            img(src="assets/img/example-04.jpg" alt="picture")
            .example-site__text
              span
                | Zweimal pro Woche informieren wir Ihre
                br
                | Kunden über ein aktuelles gesundheitliches
                br
                | Thema – auch auf sozialen Medien.
          //end example-site__section 04

          //begin example-site__section 05
          .example-site__section
            img(src="assets/img/example-05.jpg" alt="picture")
            .example-site__text
              span
                | Hier präsentieren Sie Ihre
                br
                | Topangebote!
          //end example-site__section 05

          //begin example-site__section 06
          .example-site__section
            img(src="assets/img/example-06.jpg" alt="picture")
            .example-site__text
              span
                | Aktuelle Termine halten die
                br
                | Kunden auf dem Laufenden und laden sie ein (optional).
          //end example-site__section 06

          //begin example-site__section 07
          .example-site__section
            img(src="assets/img/example-07.jpg" alt="picture")
            .example-site__text
              span
                | Hier können sich Ihre Kunden datenschutz-
                br
                | konform für Ihren Newsletter anmelden.
          //end example-site__section 07

          //begin example-site__section 08
          .example-site__section
            img(src="assets/img/example-08.jpg" alt="picture")
            .example-site__text
              span
                | Hier finden Kunden alle Ihre Services
                br
                |  im Überblick.
          //end example-site__section 08

          //begin example-site__section 09
          .example-site__section
            img(src="assets/img/example-09.jpg" alt="picture")
            .example-site__text
              span
                | Zweimal pro Woche informieren wir Ihre
                br
                | Kunden über ein aktuelles gesundheitliches
                br
                | Thema – auch auf sozialen Medien.
          //end example-site__section 09

          //begin example-site__section 10
          .example-site__section
            img(src="assets/img/example-10.jpg" alt="picture")
            .example-site__text
              span
                | Außer auf Facebook, Google Plus und Instagram
                br
                | können wir auch noch auf vielen weiteren Kanälen
                br
                | wie Twitter oder Pinterest Beiträge posten.
          //end example-site__section 10
      //end example-site

      a(href="#").example-btn.btn Website ansehen

      //begin example-socials
      .example-socials
        .container
          .example-socials__item.example-socials__item--01
            img(src="assets/img/example-socials-01.jpg" alt="picture")
            .example-socials__title Google
          .example-socials__item.example-socials__item--02
            img(src="assets/img/example-socials-02.jpg" alt="picture")
            .example-socials__title Facebook
          .example-socials__item.example-socials__item--03
            img(src="assets/img/example-socials-03.jpg" alt="picture")
            .example-socials__title Instagram
      //end example-socials

    //end content

    include ../sections/footer
